{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}
<img src="/static/10.jfif" class="d-block w-100" alt="...">
<div class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Book Now Your Trip</h1>
      <p class="fs-5 text-muted">We are Pervoding a Next level of Tour and Our Name is Enough to Define Us.</p>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">3 Days Tour</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">PKR_10,000<small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>2 Night Stay</li>
              <li>Break Fast,Lunch and Dinner</li>
              <li>Traveling Through a Local Car</li>
              <li>Stay in a 3 Star Hotel</li>
            </ul>
            <p><a class="w-100 btn btn-primary" href="/form">Book Nows»</a></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">5 Days Tour</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">PKR_16,000<small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>4 Night Stay</li>
              <li>Traveling through 4x4 Jeap</li>
              <li>Break Fast,Lunch,BBQ</li>
              <li>Stay in a 5 Star Hotel</li>
            </ul>
            <p><a class="w-100 btn btn-primary" href="/form">Book Nows»</a></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">7 Days Tours</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">PKR_25,000<small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>6 Nights Stay</li>
              <li>Break Fast,Lunch,Dinner</li>
              <li>Travelig Through a Luxury Jeap</li>
              <li>Stay in 7 Star Hotel</li>
            </ul>
            <p><a class="w-100 btn btn-primary" href="/form">Book Nows»</a></p>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}